{%  extends 'store/main.html' %}
{% load static %}
{% block content %}




<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card border-top border-bottom border-3" style="border-color: #ffffff; !important;">
          <div class="card-body p-5">

            <p class="lead fw-bold mb-5" style="color: #f37a27;">Order Summary</p>

            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Date Ordered</p>
                <p>{{order.date_added}}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Order No.</p>
                <p>{{order.order_id}}</p>
              </div>
            </div>
               <div class="row">
              <div class="col mb-3">
                
                <p class="small text-muted mb-1">Date shipped</p>
                {% if  not order.shipped  %}
                <p> - </p>
                {% else %}
                <p>{{order.shipping_date}}</p>
                {% endif %}
              </div>

            <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
            


                        <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Product name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in orderitems %}
                            <tr>
                            
                            <td>{{item.item.title}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.total}} HUF</td>
                             
                            </tr>
                            {% endfor %}                 
                        </tbody>
                        </table>


                <div class="row">
                <div class="col-md-8 col-lg-8">
                  <p class="mb-0 ms-2">Shipping: {{transport.transport_service}}</p>
                </div>           
                <div class="col-md-4 col-lg-3">
                  <p class="mb-0">{{transport.trasport_price}} HUF</p>
                  
                </div>
                </div>

            <div class="row my-4">
              <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-8">
                <p class="lead fw-bold mb-0" style="color: #040a3a;">{{subtotal_price}} HUF</p>
                </br>
              </div>
            </div>

              <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Name:</th>
                            <th scope="col">Address:</th>
                            <th scope="col">Email:</th>
                            <th scope="col">Phone:</th>
                            
                            </tr>
                        </thead>
                        <tbody>
            
                            <tr>
                            <td>{{order.first_name}} {{order.last_name}}</td>
                            <td><p>Country: {{order.country}}</p><p> City: {{order.city}}</p><p> State: {{order.state}}</p><p> Zipcode: {{order.zipcode}}</p><p> Address: {{order.address}}</p>
                            <td>{{order.email}}</td>
                            <td>{{order.phone_number}}</td>
                             
                            </tr>               
                        </tbody>
                        </table>





            <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Order Status:</p>



            <div class="row">
              <div class="col-lg-12">

             <!--  <div class="horizontal-timeline"> -->

                  <ul class="list-inline items d-flex justify-content-between">
                    <li class="list-inline-item items-list">
                      {% if not  order.shipped %}
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">On the way</p>
                      {% else %}
                      <p class="py-1 px-2 rounded text-white" style="background-color: #0e6813;">Delivered</p>
                      {% endif %}
                      
                    </li>
                  </ul>

                </div>

              </div>
            </div>

            <p class="mt-4 pt-2 mb-0">Want any help? <a href="{% url 'about' %}" style="color: #f37a27;">Please contact
                us</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}