{%  extends 'store/main.html' %}

{% block content %}

    <form method="POST">
    {% csrf_token %}
    <div class="card text-center" style="width: 1080px;">
    <div class="card-header h5 text-white bg-secondary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
           Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
        </p>
        <div data-mdb-input-init class="form-outline">
                {% for field in form %}
                 <br><label>{{field.label}}*</label></br>
                 {{field}}
                 {%  endfor %}
        </div>
        </br>
        <button  type="submit" class="btn  btn-outline-secondary" >Reset password</button>
        </div>
    </div>
</div>
</form>
{% endblock content %}  