{% autoescape off %}
Hello {{ user.username }},
We received a request to reset your password realted ecommerce website account. To start the password reset process, click the link below.
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} 
This link should work only once. If you need another password reset visit the page: {{ protocol }}://{{domain}} and request another reset.
If you didn't initiate this password request or changed your mind, simply ignore this email.
Sincerely,
Django ecommerce Website @Admin
{% endautoescape %}
